@import "base/reset";
@import "base/noto";
@import "base/flex";
@import "base/bs3";
@import "base/loading";

@import "base/var";

body, html {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    font-family: "Noto Sans TC", "Microsoft JhengHei", 微軟正黑體, "Roboto Condensed", "Helvetica Neue", sans-serif;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*ie 右邊的清除鈕*/
select::-ms-expand {display: none;}
input::-ms-clear {display: none;}

input:-webkit-autofill {
    background-color:#fff;
    /*-webkit-box-shadow: 0 0 0px 1000px white inset;*/
    /*-webkit-text-fill-color: #333 !important;*/
}

/*無法反白選取*/
/*.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

/*反白的顏色*/
::-moz-selection{color:$fff;background:$main-color;text-shadow:none;}
::selection{color:$fff;background:$main-color;text-shadow:none;}

/*scroll bar*/
::-webkit-scrollbar {width: 8px;height: 6px;}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #777;
}
::-webkit-scrollbar-track-piece { background-color: #acacac;}

/*input[type="text"],
input[type="password"] {
	border: 1px solid #c9d8da;
    padding-left: 1rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;    
}*/
/*input[type="text"]:disabled{
    color:#af946e;
    -webkit-text-fill-color:#af946e;
    border:1px solid #af946e;
    -webkit-opacity:1;
    opacity:1;
}*/
/*button {
	background-color: #387894;
	color: #fff;
	outline: none;
	box-shadow: none;
	border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
}*/


h1,h2,h3,h4,h5,h6 {margin:15px 0;}
p,span{margin:0;}
h1 {font-size: 2rem;}
h2 {font-size: 1.625rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
h5,p,em,pre{font-size: 1rem;}
h6 {font-size: 0.875rem;}
sup,small{font-size: 0.75rem;}
hr {
    width: 7.375rem;
    height: 0.1875rem;
    border:0;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: #2858aa;
}
table {
    display: table;
    border:1px;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #646464;
}
ol,ul{padding-left:1.5rem;font-size: 0;}
li{font-size: 1rem;}

// Custom class
.disc>li{list-style-type: disc;}
.decimal>li{list-style-type: decimal;}
.main-bg {background-color:$main-color;}
.main-color {color: $main-color;}
.gray {color:$gray;}
.gray-bg {background-color:$gray;}
.fff-bg {background-color: $fff;}
.fl {float: left;}
.fr{float: right;}
.clear{clear: both;}
.ib{display:inline-block;}
.tar {text-align: right;}
.tac {text-align: center;}
.tal{text-align:left;}
.box-shadow{box-shadow: 0 46px 113px -34px rgba(0,0,0,.5);}
.noborder{border: none;}
.l-size{font-size: $l-size;}
.m-size{font-size: $m-size;}
.s-size{font-size: $s-size;}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        position:fixed;
        width: 100vw;
        text-align:center;
        background-color:transparent;
        // background-image: linear-gradient( 135deg, #81FBB8 0%, #28C76F 100%);
        // background-repeat: no-repeat;
        transform-origin:center center;
        padding:1rem;
        font-weight: bold;
        cursor:pointer;
        will-change:background-color;
        transition:all .3s ease;
        &:hover{
            background-color:#7C70F4;
            color:#fefefe;
            transition:all .3s ease;
        }
        &:nth-child(1){
            top: 0;
            left: 0;
            z-index: 99;
        }
        &:nth-child(3){
            top: auto;
            bottom:0;
            left: 0;
            z-index: 97;
            &.act{
                // top:0;
                bottom:calc(100vh - 3rem);
                z-index: 100;
            }
        }
        &:nth-child(2){
            // -webkit-writing-mode:vertical-lr;
            // writing-mode:vertical-lr;
            width: 100vh;
            z-index: 98;
            transform: rotate(90deg);
            right: calc(-50vh + 1.75rem);
            top: calc(50vh - 1.75rem);
            &.act{
                width: 100vw;
                top:0;
                right: 0;
                z-index: 100;
            }
        }
        &:nth-child(4){
            // -webkit-writing-mode:vertical-rl;
            // writing-mode:vertical-rl;
            width: 100vh;
            z-index: 96;
            transform: rotate(-90deg);
            left: calc(-50vh + 1.75rem);
            top: calc(50vh - 1.75rem);
            &.act{
                width: 100vw;
                top:0;
                left: 0;
                z-index: 100;
            }
        }
        &.act{
            color:#fff;
            background-color: #0396FF;
            background-image: linear-gradient( 135deg, #ABDCFF 0%, #0396FF 100%);
            background-repeat: no-repeat;
            transform:rotate(0deg);
            transition:all .3s ease;
        }
    }

} 
article{
    margin-bottom: 1.5rem;
    p{
        text-align: justify;
        margin-bottom: 1rem;
        letter-spacing: 1px;
        line-height: 1.5
    }
    &.list{
        h2{
            margin:.5rem 0;
        }
        p{
            margin-top: .5rem;
            line-height: 1.4;
        }
    } 
} 
main{padding: 4rem;}
@media (max-width: 767px) {
    nav ul li{
        position: static;
        transform:rotate(0deg)!important;
        width: 100vw!important;
    }
    main{
        padding-left:12px;
        padding-right:12px
    }
}
@media (max-device-width: 992px) {}
// @supports (){}
.if-ie{}
.if-edge{}
.if-mobile{}